[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/suave-geth"]
	path = lib/suave-geth
	url = https://github.com/mehranhydary/suave-geth
	# url = https://github.com/flashbots/suave-geth
